html, body, div, span, h1, h2, h3, p, blockquote, pre,
a, em, img, strong, b, u, i, ol, ul, li, form, label, 
table, tr, th, td, figure, dl, dt, dd {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

strong {
	font-weight: 700;
}

body {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	margin: 5% 5% 0 5%;
}
