html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #111;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

h1, body.magnetizer-index h2 {
    font-size: 2.3em;
}

h2, body.magnetizer-index h3 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
    font-weight: 700;
}

a {
    color: #0147fa;
}

article h1, article h2, article h3 {
    line-height: 1.5em;
    margin-top: 0.8em;
    margin-bottom: 0.6em;
}

h1 a, h2 a, h3 a {
    color: #111 !important;
    border: none !important;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    color: #555 !important;
}

hr {
    width: 100vw;
}

footer a, article a {
    color: #0147fa;
    text-decoration: none;
    border-bottom: 1px solid #0147fa;
}

a.magnetizer-more::after {
    content: " →";
}

a.magnetizer-nav-back {
    margin: 1em 0;
}

a.magnetizer-nav-back::before {
    content: "← ";
}

p, ul, ol {
    margin-bottom: 0.8em;
}

article li {
    margin: 0 0 0.5em 3em;
}

article img.small-right {
    max-width: 200px;
    float:right;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

blockquote {
    margin-bottom: 0.8em;
    color: #444;
    margin-left: 2em;
    padding-left: 1em;
    border-left: 1px solid #666;
}

blockquote.puff {
    color: #555;
    border: none;
    text-align: center;
    font-size: 1.4em;
    font-style: italic;
    margin: 3em 0; 
    line-height: 1.5em;
}

blockquote.puff footer {
    font-size: 0.714em;
    margin-top: 1em;
    font-style: normal;
}

div#container {
    background: #fff;
    padding: 4em 0 0 0;
}

div#content {
    max-width: 800px;
    margin: 0em auto;
}

.magnetizer-index #first-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow: hidden;
    background: #eceff4;
}

div#intro { 
    padding: 1em;
    font-family: 'Merriweather', serif;
}

div#intro div {
    max-width: 1000px;
}

div#intro h1 {
    line-height: 1.3em;
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

div#intro p {
    font-size: 1.2em;
    line-height: 1.5em;
}

div#intro div {
    margin: 0 auto;
    display: flex;
}

div#intro img {
    margin-right: 3em;
    width: 50%;
    height: 50%;
}

ul.social {
    margin-top: 2em;
}

ul.social li {
    display: inline-block;
    margin: 0 0.5em 0 0;
}

ul.social li a {
    color: #333;
    border: none;
    text-decoration: none;
}

ul.social li a span {
    display: none;
}

header {
    padding: 0.7em;
    display: flex;
    justify-content: space-between;
}

header nav {
    font-size: 0.9em;
    padding: 0.3em;
}

header nav li {
    display: inline-block;
    border-right: 1px solid #333;
}

header nav li:last-child {
    border: none;
}

header nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    padding: 0.3em 0.6em;
}

header nav li a:hover {
    color: #0147fa;
}

footer.about {
    font-family: 'Merriweather', serif;
    margin: 3em auto 3em auto;
    font-size: 0.9em;
    padding: 1.5em;
    color: #333;
    background: #eceff4;
    line-height: 1.6em;
    display: flex;
}

footer.about p {
    margin: 0 0 0.6em 0;
}

footer.about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 1em;
}

#site-name h1 {
    font-family: 'Pacifico', cursive;
    display: inline;
    font-size: 1.4em;
    padding: 0.3em;
}

#site-name {
    color: #333;
    text-decoration: none;
    display: flex;
}

#site-name img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.date {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    margin: 1.5em 0 2em 0;
}
.date a {
    color: #666;
    border: none;
}

.date a:hover {
    color: #0147fa;  
}

article {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    padding: 1em;
    line-height: 1.7em;
}

article img {
    max-width: 100%;
}

.magnetizer-article div#latest-articles-header {
    display: none;
}

div#latest-articles-header {
    background: #fff;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    margin: 0 0 3em 0;
}

footer.page-footer {
    padding: 1em 0 2em 0;
    text-align: center;
}

div#read-my-blog {
    display: none;
}

p.magntetizer-license {
    margin: 3em 1em 0 1em;
    font-size: 0.9em;
    line-height: 1.7em;
    color: #666;
}

p.magntetizer-license a {
    color: #666;
    border: none;
    text-decoration: underline;
}

@media screen and (min-width: 800px) {

    .magnetizer-index #first-screen {
        background: none;
    }

    div#intro {
        padding: 0;
        font-weight: 300;
    }

    div#intro div section {
        margin: 0 2em 0 auto;
        width: 40%;
    }

    .magnetizer-index .parallax {
        perspective: 1px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .magnetizer-index .parallax__layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .magnetizer-index .parallax__layer--base {
        transform: translateZ(0);
    }

    .magnetizer-index .parallax__layer--back {
        transform: translateZ(-1px) scale(2);
    }

    .magnetizer-article #intro-background {
        display: none;
    }

    .magnetizer-index #intro-background {
        background: url(magnus-dahlgren-background.jpg);
        background-size: cover;
    }

    article {
        padding: 0em;
    }

    div#read-my-blog {
        display: block;
        width: 100%;
        font-size: 1.1em;
        text-align: center;
        padding: 1em 0;
        align-self: flex-end;
    }
    
    div#read-my-blog a {
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 1em 3em;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    div#read-my-blog a i {
        padding-right: 0.4em;
    }

    div#intro div {
        max-width: 1000px;
        margin: 0 auto;
        padding: 2em 0;
    }

    p.magntetizer-license {
        margin: 3em 0 0 0;
        font-size: 0.7em;
        line-height: 1.4em;
        color: #666;
    }

    a.nav-back {
        margin: 0;
    }

}