html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {

    --blog-font-family: 'Merriweather', serif;
    --main-font-family: 'Roboto Condensed', sans-serif;

    --black-color: #1B1B1E;
    --white-color: #fff;
    --grey-color: #555;
    --green-color: #7FB800;
    --red-color: #9A031E;
    --blue-color: #1DA1F2;
    --main-link-color: #0147fa;

    --subtle-grey-color: #D8DBE2;
    --subtle-green-color: #BADCCB;
    --subtle-red-color: #F5B799;
    --subtle-amber-color: #F7C277;

    --font-size-ridiculous: 74px;
    --font-size-humongous: 60px;
    --font-size-huge: 48px;
    --font-size-even-bigger: 36px;
    --font-size-bigger: 27px;
    --font-size-big: 23px;
    --font-size-normal: 19px;
    --font-size-small: 16px;
    --font-size-tiny: 14px;

    --padding-ultrawide: 48px;
    --padding-wide: 36px;
    --padding-normal: 24px;
    --padding-narrow: 16px;
    --padding-ultranarrow: 8px;

}

.two-columns, .three-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.two-columns .col {
    width: 49%;
    list-style: none;
}

.three-columns .col {
    width: 32%;
    list-style: none;
}


body {
    background-color: var(--white-color);
    font-family: var(--main-font-family);
    font-size: var(--font-size-normal);
    color: var(--black-color);
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: var(--font-size-ridiculous);
}

h2 {
    font-size: var(--font-size-humongous);
}

h3 {
    font-size: var(--font-size-huge);
}

a {
    color: var(--main-link-color);
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

article {
    font-family: var(--blog-font-family);
    max-width: 800px;
    margin: 0 auto;
    padding: 0 18px;
    font-weight: 300;
    line-height: 1.7em;
}

article h1, article h2, article h3 {
    text-transform: none;
    font-weight: 300;
}

article h1 {
    font-size: var(--font-size-huge);
}

article h2 {
    font-size: var(--font-size-even-bigger);
}

article h3 {
    font-size: var(--font-size-big);
}

.magnetizer-homepage-page article h2, .magnetizer-listing-page h2 {
    font-size: var(--font-size-huge);
}

.magnetizer-homepage-page article h3, .magnetizer-listing-page h3 {
    font-size: var(--font-size-even-bigger);
}

#main-navigation {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}

#main-navigation a {
    color: var(--black-color);
    text-decoration: none;
}

.magnetizer-homepage-page #main-navigation {
    position: absolute;
}

.magnetizer-homepage-page #main-navigation a {
    color: var(--subtle-grey-color);
}

#main-navigation a#logo {
    font-size: var(--font-size-bigger);
    font-weight: 700;
    margin: var(--padding-normal);
}

#main-navigation nav ul {
    margin: var(--padding-normal);
}

#main-navigation nav li {
    display: inline-block;
    border-right: 1px solid var(--grey-color);
    padding: 0.1em 0.5em;
}

#main-navigation nav li:first-child {
    padding-left: 0;
}

#main-navigation nav li:last-child {
    border: none;
    padding-right: 0;
}

article h1, article h2, article h3 {
    line-height: 1.5em;
    margin-top: 0.8em;
    margin-bottom: 0.6em;
}

h1 a, h2 a, h3 a {
    color: var(--black-color) !important;
    border: none !important;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    color: var(--grey-color) !important;
}

footer a, article a {
    color: var(--main-link-color);
    text-decoration: none;
    border-bottom: 1px solid var(--main-link-color);
}

a.magnetizer-nav-back, a.magnetizer-more, nav.magnetizer-pagination a, a.read-my-blog {
    font-family: var(--main-font-family);
    font-size: var(--font-size-big);
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}

a.magnetizer-nav-back {
    margin: 1em 0;
}

a.magnetizer-nav-back::before, a.magnetizer-previous::before {
    content: "← ";
}

a.magnetizer-more::after, a.magnetizer-next::after, a.read-my-blog::after {
    content: " →";
}

nav.magnetizer-pagination {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 18px
}

nav.magnetizer-pagination:after {
    content: "";
    display: table;
    clear: both;
}

nav.magnetizer-pagination li {
    display: inline;
}

a.magnetizer-next {
    float: right;
}

a.magnetizer-previous {
    float: left;
}

a.read-my-blog {
    display: block;
    text-align: center;
}

p, ul, ol {
    margin-bottom: 0.8em;
}

article li {
    margin: 0 0 0.5em 3em;
}

article img.small-right {
    max-width: 200px;
    float:right;
}

blockquote {
    margin-bottom: 0.8em;
    margin-left: 2em;
    padding-left: 1em;
    border-left: 1px solid var(--grey-color);
}

.magnetizer-homepage-page #first-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

ul.social {
    margin-top: 2em;
}

ul.social li {
    display: inline-block;
    margin: 0 0.5em 0 0;
}

ul.social li a {
    color: var(--black-color);
    border: none;
    text-decoration: none;
}

ul.social li a span {
    display: none;
}

div.author {
    font-family: var(--main-font-family);
    text-transform: uppercase;
    margin-bottom: 3em;
    line-height: 1.3em;
    display: flex;
    color: var(--grey-color);
}

div.author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5em;
}

div.author p {
    align-self: center;
    margin: 0;
}

div.author a {
    color: var(--black-color);
    border: none;
    text-decoration: underline;
}

.date {
    font-family: var(--main-font-family);
    font-size: var(--font-size-small);
    color: var(--grey-color);
    text-transform: uppercase;
    letter-spacing: 0.07em;
    margin: 1.5em 0 2em 0;
}

article img {
    max-width: 100%;
}

#latest-articles-header {
    font-size: var(--font-size-big);
    text-align: center;
    text-transform: uppercase;
    padding: var(--padding-ultrawide);
}

#blog-header {
    background-color: var(--subtle-amber-color);
    padding: 0.5em 0;
}

#blog-header h1 {
    font-size: var(--font-size-ridiculous);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

#blog-header a {
    color: var(--black-color);
    text-decoration: none;
}

footer.page-footer {
    padding: 1em 0 2em 0;
    text-align: center;
    text-transform: uppercase;
}

div#read-my-blog {
    display: none;
}

p.magntetizer-license {
    font-family: var(--main-font-family);
    font-size: var(--font-size-small);
    color: var(--grey-color);
    line-height: 1.4em;
    margin: 3em 0 0 0;
}

p.magntetizer-license a {
    color: var(--grey-color);
    border: none;
    text-decoration: underline;
}

#first-page {
    position: relative;
    padding: 0 1em;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 100vh;
    background: var(--black-color);
    color: var(--subtle-grey-color);
}

#first-page .scroll {
    font-size: var(--font-size-humongous);
    position: absolute;
    bottom: 20px;
}

#intro {
    text-align: center;
}

#intro a {
    color: #000;
}

#intro h1 {
    margin-bottom: 0.5em;
}

#intro h2 {
    font-size: var(--font-size-even-bigger);
    margin-bottom: 0.5em;
    font-weight: 300;
}

img#splash {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-bottom: 2em;
}

#upsell {
    padding: 48px 24px;
    background-color: var(--subtle-grey-color);
    text-align: center;
}

#upsell h2, #contact-details h2 {
    margin: 24px 0 64px 0;
}

#upsell a {
    text-transform: uppercase;
    text-decoration: none;
}

#upsell a:after {
    content: " →";
}

#home-services {
    font-size: var(--font-size-big);
    line-height: 1.3em;
    max-width: 1400px;
    margin: 0 auto;
}

#home-services div {
    background-color: #fff;
    margin-bottom: 0.5em;
    text-align: left;
}

#home-services h3 {
    color: #fff;
    min-height: 6.3em;
    margin-bottom: 0;
    text-align: center;
    padding: var(--padding-normal);
    line-height: 1.2em;
    font-size: var(--font-size-even-bigger);
    text-transform: uppercase;
    font-weight: 700;
}

#home-services .details {
    padding: var(--padding-normal);
    display: flex;
    flex-direction: column;
}

#home-services ul {
    padding-left: 1.5em;
}

#home-services li {
    padding-bottom: 0.4em;
}

#home-services h3 i {
    display:block;
    color: #fff;
    font-size: var(--font-size-humongous);
    padding-bottom: 0.3em;
}

#home-services-read-more {
    font-size: var(--font-size-bigger);
    background-color: var(--subtle-amber-color);
    padding: var(--padding-normal);
    text-align: center;
}

#home-services-read-more a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black-color);
}

#home-services-read-more i {
    padding: 0 0.5em;
}
 
#home-services-facilitation h3 {
    background-color: var(--subtle-green-color);
}

#home-services-coaching h3 {
    background-color: var(--subtle-red-color);
}

#home-services-sm h3 {
    background-color: var(--subtle-amber-color);
}

.availability-status-include {
    font-size: var(--font-size-big);
    background-color: #fff;
    padding: 0.5em !important;
    text-align: center;
}

.availability-status-include a {
    text-decoration: none;
    text-transform: uppercase;
}

.availability-status-include p {
    padding: 0.5em 1em;
    display: inline-block;
    margin-bottom: 0;
}

.availability-status-include i {
    padding-right: 0.3em;
}

.availability-status-include .available {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--green-color);
}

.availability-status-include .fa-map-marker-alt {
    color: var(--red-color);
}

#contact-details {
    padding: var(--padding-ultrawide);
    text-align: center;
}

.magnetizer-homepage-page #contact-details {
    border-bottom: var(--padding-ultranarrow) solid var(--subtle-grey-color);
}

#contact-details h2 {
    margin-bottom: 0.5em;
}

#contact-details p {
    max-width: 900px;
    margin: var(--padding-normal) auto var(--padding-wide) auto;
    font-size: var(--font-size-bigger);
    line-height: 1.5em;
}

#contact-details ul {
    justify-content: center;
}

#contact-details li {
    font-size: var(--font-size-bigger);
}

#contact-details a {
    color: var(--black-color);
    text-decoration: none;
}

#contact-details a i {
    font-size: var(--font-size-even-bigger);
    vertical-align: middle;
    padding-right: 0.15em;
}

#contact-details a .fa-envelope {
    color: var(--subtle-amber-color);
}

#contact-details a .fa-twitter {
    color: var(--blue-color);
}

#contact-details a .fa-linkedin {
    color: #0e76a8;
}

.about-page section {
    padding: var(--padding-wide);
}

.about-page h2 {
    margin-bottom: 0.5em;
    text-align: center;
}

#about-header {
    text-align: center;
}

#about-header h1 {
    margin-bottom: var(--padding-normal);
}

#about-header p {
    font-size: var(--font-size-bigger);
}

ol.big-numbers {
    list-style: none;
    counter-reset: item-counter;
}

ol.big-numbers li {
    counter-increment: item-counter;
    font-size: var(--font-size-big);
    margin-bottom: 0.6em;
    display: flex;
}

ol.big-numbers li::before {
    content: "0" counter(item-counter);
    font-size: var(--font-size-huge);
    line-height: 1em;
    font-weight: 700;
    margin-right: 0.3em;
}

#about-referrals {
    text-align: center;
}

#about-referrals .fa-user-circle {
    color: var(--blue-color);
    display: block;
    font-size: 200px;
}

#about-referrals blockquote {
    font-size: var(--font-size-even-bigger);
    font-family: var(--blog-font-family);
    max-width: 900px;
    margin: 0.5em auto 0 auto;
    line-height: 1.6em;
    border: none;
    font-style: italic;
}

#about-referrals blockquote footer {
    font-family: var(--main-font-family);
    font-style: normal;
    margin-top: 0.7em;
    font-size: var(--font-size-normal);
    color: var(--black-color)
}

#about-experience {
    background-color: var(--subtle-amber-color);
}

#about-experience p.intro {
    font-size: var(--font-size-bigger);
    margin-bottom: 1.5em;
}

.container-full-width {
    width: 100%;
}

.container-wide-width {
    max-width: 1000px;
    margin: 0 auto;
}

.container-normal-width {
    max-width: 800px;
    margin: 0 auto;
}

ul.experience li {
    font-size: var(--font-size-big);
    background-color: var(--white-color);
}

ul.experience li h3 {
    font-size: var(--font-size-bigger);
    margin-bottom: 0.8em;
}

ul.experience li i {
    font-size: var(--font-size-ridiculous);
    display: block;
    margin: 0.7em auto;
}

ul.experience li p {
    line-height: 1.35em;
    padding: var(--padding-normal);
}

ul.experience li i.dev {
    color: var(--grey-color);
}

ul.experience li i.sm {
    color: var(--blue-color);
}

ul.experience li i.coach {
    color: var(--green-color);
}

#about-skills {
    background: var(--subtle-grey-color);
}

#about-skills h3 {
    font-size: var(--font-size-big);
    text-align: left;
}

#about-skills ul {
    margin-top: var(--padding-ultranarrow);
}

#about-skills ul li {
    margin-left: var(--padding-wide);
    margin-bottom: var(--padding-ultranarrow);
}

#about-certifications p {
    font-size: var(--font-size-big);
    line-height: 1.5em;
    margin: 0 auto;
    text-align: center;
}

ul.certifications {
    margin: 2em auto 0 auto;
}

ul.certifications li {
    width: 50%;
    display: flex;
    align-items: center;
    line-height: 1.3em;
    margin-bottom: 1em;
}

ul.certifications li img {
    width: 5em;
    height: 5em;
    margin-right: 0.5em;
}

ul.certifications strong {
    font-size: var(--font-size-big);
}

#about-facts {
    background-color: var(--subtle-grey-color);
}


@media screen and (max-width: 1100px) {

    #intro {
        font-size: 0.8em;
    }

    #blog-header h1 {
        font-size: 3em;
    }

    #contact-details li {
        padding: 1em;
    }

}

@media screen and (max-width: 750px) {

    .two-columns, .three-columns {
        flex-direction: column;
    }

    .two-columns .col, .three-columns .col {
        width: 100%;
    }

    #blog-header h1 {
        font-size: 2.5em;
    }

    p.magntetizer-license {
        margin: 3em 0 0 0;
        font-size: 0.9em;
        line-height: 1.4em;
        color: var(--grey-color);
    }

    #home-services {
        flex-direction: column;
    }

    #home-services h3 {
        min-height: unset;
        padding: 0.5em;
    }

    #home-services h3 i {
        font-size: 1em;
        display: inline;
        padding-right: 0.3em;
    }

}

@media screen and (max-width: 600px) {

    #main-navigation {
        flex-direction: column;
    }

    #logo {
        margin-bottom: 0 !important;
    }

    img#splash {
        width: 150px;
        height: 150px;
    }
    
    #intro h1 {
        font-size: 2em;
    }

    #intro h2 {
        font-size: 1.5em;
    }

    h1, body.magnetizer-homepage-page h2 {
        font-size: 1.7em;
    }
    
    h2, body.magnetizer-homepage-page h3 {
        font-size: 1.3em;
    }
    
    h3 {
        font-size: 1.1em;
        font-weight: 700;
    }

    ul.certifications li {
        width: 100%;
    }

    ol.big-numbers li {
        width: 100%;
    }

}

@media screen and (max-width: 400px) {

    body {
        font-size: 0.95em;
    }

    #main-navigation a#logo {
        margin: 18px;
    }
    
    #main-navigation nav ul {
        margin: 18px;
    }
    
}

@media screen and (max-width: 330px) {

    body {
        font-size: 0.9em;
    }

}