html, body, div, span, h1, h2, h3, p, blockquote, pre,
a, em, img, strong, b, u, i, ol, ul, li, form, label, 
table, tr, th, td, figure, dl, dt, dd {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.clearer {
    clear: both;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin: 0 0 3em 0;
    color: #333;
}

strong {
	font-weight: 700;
}

main {
    line-height: 1.7em;
    max-width: 800px;
    margin: 0 auto;
}


h1 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 1em;
}

h2 {
	font-size: 1.3em;
	text-transform: uppercase;
	margin-bottom: 0.8em;
}

h3 {
    font-size: 0.65em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 3em 0 1em 0;    
}

a {
	color: #0147fa;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid;
}

.social {
    display: flex;
}

.social li {
    list-style: none;
}

.social a {
    border: none;
    color: #333;
    padding: 0.1em;
}

.social a span {
    display: none;
}
#social-top {
    justify-content: flex-end;
    padding: 1em 0.8em;
}

#social-bottom {
    justify-content: center;
    margin-top: 1.5em;
}

#social-top li {
    margin-left: 0.3em;
}

#social-bottom li {
    margin: 0.15em;
}

img#avatar {
    width: 50%;
    float: left;
}

main section p {
    margin-bottom: 0.8em;
}

section#intro ul.social {
    padding: 1.5em;
    float: right;
}

ul.blogposts li {
    padding: 1em;
    background-color: #eee;
    margin: 0 0 1em 0;
    list-style: none;
    text-align: left;
}

ul.blogposts li a, ul.social li a {
    color: #333;
    border: none;
}

ul.blogposts li a i {
    margin-right: 0.5em;
}

#expand i {
    margin-right: 0.2em;
}

section#intro {
    clear: right;
    width: 45%;
    padding-left: 5%;
    float: right;
}

section#more, section#about {
    clear: both;
    text-align: center;
    padding: 1em 0 0 0;
}

section#about {
    display: none;
    margin-top: 3em;
    padding: 2em 4em;
    background-color: #eee;
}

section#about h3 {
    margin-top: 0;
}

section#about ol {
    text-align: left;
    font-size: 0.8em;
}

aside {
    float: right;
}

p#expand {
    font-size: 0.8em;
}