html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: #333;
}

.site-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #F4FFFDFF;
}

.site-header a {
  color: #F4FFFDFF;
  border: none;
}

#site-logo {
  font-size: 1.3em;
  font-weight: 400;
  padding: 0.5em;
}

#sitelogo i {
  margin-right: 0.3em;
}

#site-nav {
  display: block;
}

#site-nav ul {
  margin: 0;
}

#site-nav li {
    display: inline-block;
    border-right: 1px solid #F4FFFDFF;
    padding: 0.1em 0.5em;
    margin: 0;
}

#site-nav li:last-child {
    border: none;
}

main {
  padding: 50px 5%;
  max-width: 800px;
  margin: auto;
}

h1, h2 {
  font-weight: normal;
  color: #333;
}

h1 {
  font-size: 1.8em;
  margin: 0.7em 0 0.6em 0;
}

h2 {
  font-size: 1.4em;
  margin: 0.9em 0 0.7em 0;
}

h3 {
  font-size: 1.2em;
  margin: 0.9em 0 0.7em 0;
}

h1 a, h2 a, h3 a {
    color: #333 !important;
    border: none !important;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    color: #005A9C !important;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

code {
  display: block;
  font-family: monospace;
  margin-bottom: 20px;
  padding: 1em;
  background-color: #eee;
}

blockquote {
  padding: 0.5em 1.2em 0.2em 1.2em;
  border-left: 8px solid #eee;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

a {
  color: #005A9C;
  text-decoration: none;
  border-bottom: 1px solid #005A9C;
}

a:hover {
}

article {
  margin-bottom: 40px;
}

section {
  margin-bottom: 40px;
}

ul {
  list-style-type: disc;
  margin-bottom: 1.2em;
}

li {
  margin-left: 2em;
  margin-bottom: 0.7em;
}

/* Footer styling */
footer {
  background-color: #141414;
  color: #F4FFFDFF;
  padding: 0.7em;
  margin-top: 40px;
}

footer a {
  color: #F4FFFDFF;
  border-bottom: none;
}

footer ul {
  list-style-type: none;
  margin: 0;
}

footer li {
  display: inline-block;
  padding: 0.1em 0.4em;
  margin: 0;
}

#f-linkedin span {
  display: none;
}

#f-linkedin {
  border-right: 1px solid #F4FFFDFF;
}

#f-privacy {
  float: right;
}

.avatar {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 1.5em;
}

.hero-image {
  width: 100%;
}

article img {
    max-width: 100%;
}

div.author {
    margin-bottom: 3em;
    line-height: 1.3em;
    display: flex;
    color: #999;
}

div.author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5em;
}

div.author p {
    align-self: center;
    margin: 0;
}

div.author a {
    color: #000;
    border: none;
    text-decoration: underline;
}

a.magnetizer-nav-back, a.magnetizer-more, nav.magnetizer-pagination a, a.read-my-blog {
    text-decoration: none;
    border: none;
}

a.magnetizer-nav-back {
    margin: 1em 0;
}

a.magnetizer-nav-back::before, a.magnetizer-previous::before {
    content: "← ";
}

a.magnetizer-more::after, a.magnetizer-next::after, a.read-my-blog::after {
    content: " →";
}

nav.magnetizer-pagination {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 18px
}

nav.magnetizer-pagination:after {
    content: "";
    display: table;
    clear: both;
}

nav.magnetizer-pagination li {
    display: inline;
}

a.magnetizer-next {
    float: right;
}

a.magnetizer-previous {
    float: left;
}

p.magntetizer-license {
    margin: 3em 0 0 0;
    font-size: 0.9em;
    line-height: 1.4em;
    color: #999;
}

p.magntetizer-license a {
    color: #999;
    border: none;
    text-decoration: underline;
}

.hamburger {
  display: none;
}

@media (max-width: 550px) {

  .site-header {
    flex-direction: column;
    align-items: start;
  }

  .hamburger {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 3.05em;
    align-items: center;
  }

  .hamburger span {
    padding: 0.66em 0.2em;
  }

  .hamburger i {
    font-size: 1.5em;
    padding: 0.3333em 0.25em;
  }
  
  #site-nav  {
    display: none;
    width: 100%;
    background: #fff;
  }

  #site-nav li {
    display: block;
    width: 100%;
    padding: 0;
    border-right: none;
    margin: 0 !important;
  }

  #site-nav li a {
    display: block;
    color: #000;
    padding: 0.7em;
    border-bottom: 1px solid #999;
  }

}