html, body, div, span, h1, h2, h3, p, blockquote, pre,
a, em, img, strong, b, u, i, ol, ul, li, form, label, 
table, tr, th, td, figure, dl, dt, dd {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 18px;
}

#main {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 8em;
    font-weight: 800;
}

header div {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 1em;
}

figcaption {
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em 0 1em 0;
}

p {
    margin-bottom: 1em;
}

footer {
    background-color: #ddd;
    text-align: center;
    font-size: 0.8em;
    padding: 1em;
    margin: 2em 0;
}

blockquote {
    font-size: 1.6em;
    line-height: 1.6em;
    text-align: center;
    font-style: italic;
    width: 80%;
    margin: 1em auto 2em auto;
}

a {
    color: #000;
}

a:hover {
    color: orangered;
}

ul {
    padding-left: 2em;
}

li {
    margin-bottom: 1em;
}

#image {
    display: block;
    max-width: 100%;
    margin: auto;
}