html, body, div, span, h1, h2, h3, p, blockquote, pre,
a, em, img, strong, b, u, i, ol, ul, li, form, label, 
table, tr, th, td, figure, dl, dt, dd, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    background: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
    color: #333;
	height: 100vh; 
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
}

button:active {
    color: #666;
}

#pomodoro {
    background: #fff;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    width: 400px;
}

.hidden {
    display: none;
}

#settings {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.lengthAdjustment {
    text-align: center;
    padding: 1em;
}

#start_stop, #reset {
    font-size: 2.5em;
    padding: 0.1em;
    margin: 0.4em;
}

#break-length, #session-length {
    display: inline-block;
    font-size: 2em;
    width: 1.7em;
    text-align: center;
}

#break-increment, #break-decrement, #session-increment, #session-decrement {
    font-size: 1.3em;
}

#timer-label {
    font-size: 3em;
}

#time-left {
    font-size: 3em;
}

#decoration {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 10em;
    margin: 1em 0;
}

.pomodoroSession #decoration {
    background-image: url(../images/session.png)
}

.pomodoroBreak #decoration {
    background-image: url(../images/break.png)
}